@import '~antd/dist/antd.css';

.App {
    text-align: center;
}

.Header-gradient {
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #1d9ad6, #fcaf17);
}

.Header-inner {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    align-items: baseline;
    padding: 6px 0 19px 0;
}

.Logo-host {
    height: 30px;
}

.Logo-cybee-2 {
    height: 44px;
}

.Banner {
    width: 100%;
    max-height: 500px;
    height: 500px;
    background-image: url("./images/banner.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Content-banner {
    background-color: rgba(81, 107, 132, 0.5);
    color: #fff;
    padding: 20px 30px;
    display: inline-block;
    font-size: 28px;
    position: relative;
}

.Button-trial {
    background-color: #499bd6;
    padding: 8px 20px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    margin-top: 30px;
    font-size: 16px;
}

.Quote-left, .Quote-right {
    quotes: "“" "”" "‘" "’";
}

.Quote-left:before,
.Quote-right:after {
    position: absolute;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}

.Quote-left:before {
    content: open-quote;
    top: 0;
    left: 10px;
}

.Quote-right:after {
    content: close-quote;
    bottom: -25px;
    right: 10px;
}

.Function {
    width: 100%;
    background: linear-gradient(to right, #499bd6, #f1ae2f);
}

.Img-function {
    width: 40px;
    height: 40px;
}

.Name-function {
    color: #fff;
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
}

.display-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.jusity-content-center {
    justify-content: center;
}

.margin-center {
    margin: 0 auto !important;
}

.Security-website {
    background-color: #fafafb;
}

.Title-security, .Content-security, .Title-solution, .Content-solution, .Title-customer, .Title-footer, .Content-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.Title-security, .Title-solution, .Title-customer {
    padding: 36px 0;
}

.Question {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #499bd6;
}

.Description {
    font-size: 16px;
}

.Title-content {
    font-size: 20px;
    color: #499bd6;
    font-weight: 700;
}

.Description-content {
    font-size: 16px;
    margin-top: 15px;
    padding-bottom: 36px;
}

.Img-content {
    width: 100px;
    height: 115px;
    margin: 12px 0;
}

.Img-solution {
    width: 100%;
    height: 327px;
    margin-top: 12px;
}

.Img-check {
    width: 18px;
    height: 18px;
    margin-top: 3px;
    margin-right: 5px;
}

.Item-solution {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 12px;
}

.Content-item {
    font-size: 16px;
    text-align: justify;
}

.Customer {
    background-color: #fafafb;
}

.Img-customer {
    width: 100%;
    height: 100px;
}

.Footer {
    background-color: #232323;
    padding: 36px 0 26px;
}

.Content-footer {
    text-align: left;
    color: #fff;
    font-size: 14px;
}

.Logo-footer:first-child {
    height: 30px;
    margin-top: 12px;
}

.Logo-footer {
    width: auto;
    height: 44px;
    margin: 5px 20px 5px 0px;
}

.Name-company {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    margin-top: 12px;
}

.Title-footer, .Content-footer {
    padding-left: 12px;
}

.Brand {
    margin-top: 20px;
    text-transform: uppercase;
}

.No-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.Title-security, .Title-customer, .Title-customer, .Title-solution {
    padding-right: 12px;
    padding-left: 12px;
}

.Content-security {
    padding-bottom: 26px;
}